@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body{
    /* background-color: #373d3d; */
    background-color: #181818;
    height: 100%;
    width: 100%;
    color: #fff;
}

.navbar{
    display: flex;
    padding: 25px 20px;
    justify-content: space-between;
}

.logo-box{
    display: flex;
}

.logo-box a{
    text-decoration: none;
    color: inherit;
}

.logo-box p{
    font-size: 30px;
}

.nav-items-list{
    display: flex;
}

.nav-items{
    margin-right: 70px;
    font-size: 20px;
    list-style: none;
    transition: 0.3s ease;
}

.nav-items:hover{
    color: #6a11b3;
    scale: 1.02;
    cursor: pointer;
}

.hero{
    width: 100%;
    position: relative;
    height: 60vh;
    display: flex;
}

.hero img{
    height: 100%;
    width: 100%;
    z-index: -1 !important;
    position: relative;
}

.black-overlay{
    background-color: rgba(0,0,0,0.75);
    z-index: 2 !important;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.hero-text{
    z-index: 3;
    align-items: center;
    justify-content: center;
}